// hides feed on home screen
:root:not([sift-paused="true"])[bsky-hide-feed="true"] {
  &[page-path="/"] {
    main {
      display: none;
    }
  }
  a[href="/feeds"] {
    display: none !important;
  }
}

:root:not([sift-paused="true"])[bsky-hide-trending="true"] [href*="trending"] {
  display: none;
}

:root:not([sift-paused="true"])[bsky-hide-explore-feed][page-path="/search/"]:not([page-params*="q="]) {
  div:has([href*="profile"]):not(:has(nav, input)) {
    display: none;
  }
}
