/* feed*/

:root:not([sift-paused="true"])[reddit-hide-feed="true"][page-path="/"] {
	.subgrid-container {
		display: none;
	}
}

:root:not([sift-paused="true"])[reddit-hide-explore-feed="true"][page-path="/explore/"] {
	.subgrid-container {
		display: none;
	}
}

:root:not([sift-paused="true"])[reddit-hide-related-posts-feed="true"] {
	pdp-right-rail {
		display: none;
	}
}
:root:not([sift-paused="true"])[reddit-hide-popular-communities-feed="true"] {
	aside[class*="popular-communities"] {
		display: none;
	}
}

:root:not([sift-paused="true"])[page-path="/news/"] {
	.subgrid-container {
		display: none;
	}
}
