@use "./reels.scss";

/* Home page */
:root:not([sift-paused="true"])[page-path="/"] {
  &[facebook-hide-feed="true"] *[role="main"] {
    display: none;
  }
}

/* Video page */
:root[page-path*="/watch/live/"],
:root[page-path*="/watch/topic/"],
:root:not([sift-paused="true"])[page-path="/watch/"] {
  &[facebook-hide-videos-feed="true"] *[role="main"] {
    display: none;
  }
}

:root:not([sift-paused="true"])[facebook-hide-videos="true"] li:has(a[href*="/watch/"]) {
  display: none;
}

/* Gaming */
:root:not([sift-paused="true"])[facebook-hide-games-feed="true"] {
  ul:has(a[href*="gaming"]) {
    display: none;
  }
}

// on the gaming page, hide the feed
:root:not([sift-paused="true"])[facebook-hide-games-feed="true"][page-path*="/gaming/"] {
  [role="main"],
  [role="navigation"]:has(a[href*="/gaming/following/"]) {
    display: none;
  }
}

/* marketplace */
:root:not([sift-paused="true"])[facebook-hide-marketplace-feed="true"][page-path="/marketplace/"] {
  *[role="main"] {
    display: none;
  }

  /* removes the feed at the bottom of a marketplace post */
  /* the div with the text area is the div that holds the current item */
  div:has(textarea)
    ~ div:has(*[attributionsrc], a[href*="/marketplace/item/"]) {
    outline: 2px solid red;
    display: none;
  }
}
